body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #FBF4D7;
    color: #007562;
}

.container-fluid{
    padding: 3% 15% 10%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.aboutHeader{
    position: relative;
}

.aboutHeader::before{
    content: "";
    position: absolute;
    background: url("https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 850px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.aboutHeaderHeadings{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #fff;
    height: 700px;
    width: 100%;
}

.aboutHeaderTitleSm {
    position: absolute;
    top: 35%;
    left: 28%;
    font-size: 4rem;
}

.aboutHeaderTitleLg {
    position: absolute;
    top: 45%;
    left: 37%;
    font-size: 8rem;
}
/* Features  */

#features{
    padding: 6% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.features-box{
    padding: 5%;
    text-align: center;
    color: #8f8f8f;
    
}

.features-icons{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.features-icons:hover{
    color: #ff4c68;
    transition: 200ms;
}

.features-headings{
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

/* Call to Action */
#cta{
    background-color: #FBF4D7;
    color: #007562;
    text-align: center;
    padding: 100px;
}

#cta h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 10px;
}

#cta button{
    margin: 20px;
    background-color: transparent;
    border: 1px solid #007562;
    color: #007562;
}

#cta button:hover{
    background-color: #007562;
    color: white;
}

#cta span{
    margin: 7px;
}
/* Footer */

#footer{
    padding: 50px;
    text-align: center;
    background-color: white;
}

.footer-icons{
    margin: 5px;
    cursor: pointer;
}

#footer p{
    margin-top: 5px;
}
